# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
.env

# Data
data/

# Vector DB
.chromadb/

# IDE
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite

# Local dev
*.egg-info/
build/
dist/
.env/
src/config/settings.py/

# Streamlit secrets
.streamlit/secrets.toml
